
  <nav>
    <a href="/"><img src="/images/logo.png" id="logo" width="400" height="60"></a>
    <div class="nav right">
      <a href="/new_story">Create Story</a>
      <i class="fas fa-book-open"></i>
      <a href="/">Home</a>
      <i class="fas fa-book-open"></i>
      <p>USER</p>
    </div>
  </nav>
