// See: https://sass-lang.com/

body {
  background-color: #EEE;
  display: flex;
  // justify-content: space-between;

  .container {
    display: flex;
    width: 50%;
    height: 15rem;
    margin-top: 200px;
    justify-content: center;

    .story {
      display: flex;
      background-color: lightsteelblue;
      width: 80%;
      padding: 2%;
      flex-direction: column;
      border: solid 2px black;

      .story-header {
        display: flex;
        border-bottom: solid 2px black;
        margin-bottom: 1rem;
        justify-content: space-between;
      }

      .story-title {
        display: flex;
      }
    }
  }

  .filter {
    display: flex;
    background-color: lightsteelblue;
    flex-direction: column;
    border: solid 2px black;
    margin-top: 200px;
    margin-left: 5rem;
    width: 25%;

    #filter-title {
      display: flex;
      padding: 2%;
      border-bottom: solid 2px black;
    }
  }
}
