body {
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    height: 6rem;
    background-color: lightsteelblue;
    background-image: url("https://www.transparenttextures.com/patterns/natural-paper.png");
    color: black;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  #logo {
    padding-left: 10rem;
    color: white;
  }

  .right {
    display: flex;
    padding-right: 10rem;
    width: 30rem;
    align-items: center;
    justify-content: space-around;

    .fas {
      color: black;
    }
  }

}
